* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

.conteiner {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 100%;
}

.conteiner__display {
  background-image: url(../image/pexels-mahima-1250260\ \(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35vh;
  margin: auto;
  position: relative;
}

.section__display {
  color: white;
  font-weight: 400;
  z-index: 1;
}

.section__display .display__titulo {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  margin: 0 0rem 1rem 0rem;
  text-transform: uppercase;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section__display .display__parrafo {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  animation-duration: 2.5s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display__boton {
  background-image: linear-gradient(to right top, #10691b, #11731c, #137e1c, #14881c, #17931c, #1a9d1d, #1da71e, #21b11e, #26bd20, #2bc922, #31d524, #36e126);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 700;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.2s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display__boton:hover {
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #36e126, #31d524, #2bc922, #26bd20, #21b11e, #1da71e, #1a9d1d, #17931c, #14881c, #137e1c, #11731c, #10691b);
}

.section-servicios {
  background-color: white;
}

.servicios-pasos {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.servicios-pasos h3 {
  font-size: 2.3rem;
  margin: 1rem;
}

.titulo-servicios h2 {
  color: #359e6a;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0.5rem 0 2rem 0;
  text-align: center;
  padding-top: 2rem;
}

.servicios-pasos img {
  width: 180px;
  height: 180px;
}

.somos_title h2 {
  padding: 2rem;
  margin: auto;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  color: #359e6a;
  border-top: solid 2px black;
}

.somos__parrafo {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo--width {
  padding: 0 5rem 0 9rem;
}

.parrafo--width-two {
  padding: 0 9rem 0 5rem;
}

.boton__somos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
}

.boton__somos .display__boton--somos {
  background-image: linear-gradient(to right top, #10691b, #11731c, #137e1c, #14881c, #17931c, #1a9d1d, #1da71e, #21b11e, #26bd20, #2bc922, #31d524, #36e126);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 700;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.2s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  margin: auto;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.boton__somos .display__boton--somos:hover {
  margin: auto;
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #36e126, #31d524, #2bc922, #26bd20, #21b11e, #1da71e, #1a9d1d, #17931c, #14881c, #137e1c, #11731c, #10691b);
}

.beneficios__title h2 {
  background-color: white;
  padding: 2rem 0 2rem 0;
  margin: 0;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  color: #359e6a;
  border-top: solid 2px black;
}

.section__beneficios {
  display: flex;
}

.section__beneficios .image__beneficios {
  width: 100%;
  height: 300px;
  display: flex;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.section__beneficio-two {
  display: flex;
}

.section__beneficio-two .image__beneficios {
  width: 100%;
  height: 300px;
  display: flex;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.section__beneficios .bosques {
  background-image: url(../image/pexels-yaroslav-shuraev-1834393.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.bosques:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficios .oceanos {
  background-image: url(../image/oceano.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.oceanos:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficios .energia {
  background-color: #ecec0f;
  position: relative;
  z-index: -2;
}

.energia:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficios .residuos {
  z-index: -2;
  background-image: url(../image/contaminacion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.residuos:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficio-two .emiciones {
  z-index: -2;
  background-image: url(../image/oso\ polar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.emiciones:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficio-two .petroleo {
  z-index: -2;
  background-image: url(../image/petroleo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.petroleo:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficio-two .dinero {
  z-index: -2;
  background-color: #46b47d;
  position: relative;
}

.dinero:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.section__beneficio-two .planeta {
  z-index: -2;
  background-image: url(../image/planeta2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.planeta:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.conteiner-nav {
  width: 95%;
  margin: 0 auto;
  max-width: 1600px;
}

.display__boton-nav {
  background-image: linear-gradient(to right top, #10691b, #11731c, #137e1c, #14881c, #17931c, #1a9d1d, #1da71e, #21b11e, #26bd20, #2bc922, #31d524, #36e126);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 700;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.2s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display__boton-nav:hover {
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #36e126, #31d524, #2bc922, #26bd20, #21b11e, #1da71e, #1a9d1d, #17931c, #14881c, #137e1c, #11731c, #10691b);
}

footer {
  background-image: linear-gradient(to right, #727272, #323034);
  color: #f7f7f7;
  padding: 2rem;
  margin: 0 auto;
}

.footer__section {
  text-align: center;
}

.footer__parrafo {
  font-size: 1.2rem;
  font-weight: 100;
}

.footer__parrafo-two {
  font-size: 0.8rem;
  font-weight: 100;
}

.footer__icon i {
  margin: 0.8rem 1.2rem 0.8rem 1.2rem;
  font-size: 30px;
}

.title__servicios h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
}

.conteiner__suscripcion a {
  text-decoration: none;
  color: white;
}

.conteiner__suscripcion a:hover {
  color: white;
}

.suscripcion {
  padding: 2rem 4rem 2rem 4rem;
  background-image: linear-gradient(to right top, #00a375, #009481, #008386, #007283, #006178);
}

.suscripcion-imagen {
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.suscripcion img {
  width: 150px;
  height: 150px;
}

.suscripcion h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.suscripcion h3 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  border-bottom: solid 2px black;
}

.suscripcion h4 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.card__list .card__list--item {
  margin-bottom: 0.5rem;
}

.conteiner__pagos {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.section__pagos {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-weight: 400;
}

.pagos__icon {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.pagos__icon i {
  font-size: 50px;
}

.agentes-cambio {
  padding: 60px 45px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.agentes-cambio h2 {
  font-size: 2rem;
  width: 100%;
  color: #359e6a;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.agentes-cambio .text-agentes {
  width: 52%;
}

.agentes-cambio .text-agentes p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: black;
  font-weight: 100;
  margin-bottom: 2rem;
}

.agentes-cambio img {
  width: 32%;
  opacity: 95%;
}

.somos-agentes {
  padding: 0px 45px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.somos-agentes img {
  width: 100%;
  opacity: 95%;
}

.somos-agentes .imagen-flores {
  display: none;
}

.somos-agentes .conteiner-somos {
  width: 50%;
}

.somos-agentes .conteiner-somos .text-somos {
  margin-top: 70px;
}

.somos-agentes .conteiner-somos .text-somos h3 {
  font-size: 1.5rem;
  color: #359e6a;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.somos-agentes .conteiner-somos .text-somos p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: black;
  font-weight: 100;
  margin-bottom: 2rem;
}

.somos-agentes .conteiner-somos .text-somos:nth-child(1) {
  margin-left: 20px;
}

.somos-agentes .conteiner-somos .text-somos:nth-child(2) {
  margin-left: 80px;
}

.somos-agentes .conteiner-somos .text-somos:nth-child(3) {
  margin-left: 40px;
}

.display__ayuda h2 {
  text-transform: uppercase;
  color: #359e6a;
  font-size: 3rem;
  font-weight: 600;
  padding: 5rem 0 5rem 0;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.display__section {
  height: 80vh;
}

.display__section h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0 0.5rem 0;
}

.display__section p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem 1rem 1rem;
}

.conteiner__contactos {
  background-image: url(../image/pexels-julian-paolo-dayag-1673973.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem;
}

.section-contactos {
  text-align: center;
  display: flex;
}

.section-disponibilidad h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.icono-contacto {
  display: flex;
}

@media (max-width: 768px) {
  .conteiner {
    width: 95%;
  }

  .conteiner__display {
    padding: 10rem 0 10rem 0;
    margin: auto;
    background-position: right;
  }

  .section__display .display__titulo {
    font-size: 1.3rem;
  }

  .section__display .display__parrafo {
    font-size: 1.2rem;
  }

  .nav__list {
    display: block;
  }

  .nav__link {
    font-size: 1rem;
  }

  .servicios-pasos {
    width: 100%;
    display: block;
  }

  .titulo-servicios h2 {
    font-size: 1.8rem;
  }

  .pasos h3 {
    font-size: 1.5rem;
  }

  .section__beneficios {
    display: block;
  }

  .section__beneficios h3 {
    font-size: 1.3rem;
  }

  .beneficios__title h2 {
    font-size: 1.8rem;
  }

  .section__beneficio-two {
    display: block;
  }

  .section__beneficio-two h3 {
    font-size: 1.5rem;
  }

  .agentes-cambio {
    display: block;
    padding: 1rem 0 0 0;
  }

  .somos-agentes {
    padding: 0;
    display: block;
    width: 100%;
  }

  .agentes-cambio h2 {
    font-size: 1.5rem;
  }

  .agentes-cambio img {
    width: 100%;
  }

  .somos-agentes img {
    display: none;
    padding-bottom: 1rem;
  }

  .somos-agentes .imagen-flores {
    display: block;
    width: 100%;
  }

  .agentes-cambio .text-agentes {
    width: 100%;
  }

  .somos-agentes .conteiner-somos {
    width: 100%;
  }

  .somos-agentes .conteiner-somos .text-somos:nth-child(1) {
    margin-left: 0;
  }

  .somos-agentes .conteiner-somos .text-somos:nth-child(2) {
    margin-left: 0;
  }

  .somos-agentes .conteiner-somos .text-somos:nth-child(3) {
    margin-left: 0;
  }

  footer {
    background-image: linear-gradient(to bottom, #727272, #323034);
  }

  .footer__parrafo {
    font-size: 1.2rem;
    font-weight: 100;
  }

  .footer__icon i {
    font-size: 25px;
  }

  .footer__parrafo-two {
    font-size: 0.8rem;
    font-weight: 100;
  }

  .conteiner__pagos {
    display: block;
  }

  .section__pagos {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .section__pagos h3 {
    margin-bottom: 0.5rem;
  }

  .pagos__icon {
    width: 100%;
    justify-content: space-evenly;
  }

  .conteiner__suscripcion {
    display: block;
  }

  .suscripcion {
    margin-bottom: 2rem;
    padding: 0.5rem;
  }

  .title__servicios h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .conteiner__contactos {
    background-image: url(../image/pexels-julian-paolo-dayag-1673973.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
  }

  .display__boton-nav {
    display: none;
  }

  .somos__parrafo {
    display: block;
    font-size: 1rem;
  }

  .parrafo--width {
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
  }

  .parrafo--width-two {
    width: 100%;
    padding: 1rem 2rem 0rem 2rem;
  }

  .boton__somos {
    padding-top: 2rem;
    padding-bottom: 2.3rem;
  }

  .somos_title h2 {
    font-size: 2rem;
  }

  .servicios-pasos img {
    width: 150px;
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
