* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

.conteiner {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 100%;
}

.display {
  background-image: url(../image/fondoindex.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display__section {
  color: white;
}
.display__titulo {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0rem 1rem 0rem;
  text-transform: uppercase;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display__parrafo {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 300;
  animation-duration: 2.5s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display__boton {
  background-image: linear-gradient(to right top, #489434, #489833, #499c33, #49a132, #49a531, #49ae30, #49b62e, #48bf2c, #46cf27, #42df20, #3cef16, #34ff00);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 500;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.5s ease;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display__boton:hover {
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #34ff00, #3cef16, #42df20, #46cf27, #48bf2c, #49b62e, #49ae30, #49a531, #49a132, #499c33, #489833, #489434);
  border-radius: 0 5px;
  transition: all 0.5s ease;
}

/* --------------------------SECCION PASOS------------------------- */
.pasos {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 2rem 0 2rem 0;
}
.pasos__image {
  width: 160px;
  height: 160px;
}
.pasos__image:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
}
.pasos__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem;
}

/* -------------------------------SECCION QUIENES SOMOS----------------- */
.conocenos__title {
  padding: 2rem;
  margin: auto;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #49ab30;
  border-top: solid 2px black;
}
.conocenos__parrafo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conocenos__parrafo--width {
  padding: 0 5rem 0 9rem;
}
.conocenos__parrafo--width-two {
  padding: 0 9rem 0 5rem;
}
.conocenos__boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
}
.conocenos__boton--verde {
  background-image: linear-gradient(to right top, #489434, #489833, #499c33, #49a132, #49a531, #49ae30, #49b62e, #48bf2c, #46cf27, #42df20, #3cef16, #34ff00);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 500;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.4s ease;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  margin: auto;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.conocenos__boton--verde:hover {
  margin: auto;
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #34ff00, #3cef16, #42df20, #46cf27, #48bf2c, #49b62e, #49ae30, #49a531, #49a132, #499c33, #489833, #489434);
  border-radius: 0 5px;
  transition: all 0.4s ease;
}

/* ---------------------------------SECCION POR QUE RECICLAR------------- */
.reciclar__title {
  padding: 2rem 0 2rem 0;
  margin: 0;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #49ab30;
  border-top: solid 2px black;
}

.beneficios {
  display: flex;
}
.beneficios__section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.beneficios__image {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.beneficios__image:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}
.beneficios__title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  margin: auto;
}
.beneficios__image:hover {
  transform: scale(1.4);
  transition: all 1s ease;
  cursor: pointer;
}
.beneficios__link {
  color: white;
  text-decoration: none;
}
.beneficios__link:hover {
  color: #49ab30;
}

.bosques {
  background-image: url(../image/bosques.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oceano {
  background-image: url(../image/oceano.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.residuos {
  background-image: url(../image/residuos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emiciones {
  background-image: url(../image/emiciones.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.petroleo {
  background-image: url(../image/petroleo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.planeta {
  background-image: url(../image/planeta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.energia {
  background-color: #ecec0f;
}

.dinero {
  background-color: #46b47d;
}

.display__boton-nav {
  background-image: linear-gradient(to right top, #489434, #489833, #499c33, #49a132, #49a531, #49ae30, #49b62e, #48bf2c, #46cf27, #42df20, #3cef16, #34ff00);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 500;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.display__boton-nav:hover {
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #34ff00, #3cef16, #42df20, #46cf27, #48bf2c, #49b62e, #49ae30, #49a531, #49a132, #499c33, #489833, #489434);
  border-radius: 0 5px;
  transition: all 0.4s ease;
}

.button-nav:focus {
  color: #49ab30;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: #49ab30;
}

.footer {
  background-image: linear-gradient(to right, #727272, #323034);
  color: #f7f7f7;
}
.footer__section {
  text-align: center;
}
.footer__parrafo {
  font-size: 1.2rem;
  font-weight: 100;
  padding-top: 1rem;
}
.footer__icon {
  padding-bottom: 1rem;
}
.footer__parrafo-two {
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.footer__icon i {
  margin: 0rem 1.2rem 0rem 1.2rem;
  font-size: 35px;
  cursor: pointer;
}

.servicios__title {
  font-size: 3rem;
  font-weight: 500;
  color: #49ab30;
  text-align: center;
  padding: 3rem 0 3rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.servicios__section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.servicios__card {
  border: solid 1px #49ab30;
  border-radius: 10px;
  box-shadow: -5px 3px 5px 0 #49ab30;
  background: white;
}
.servicios__card:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: 0 0 5px #49ab30;
}
.servicios__logo img {
  width: 300px;
  height: 100px;
}
.servicios__title--card {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0.5rem;
  border-bottom: solid 1px black;
}
.servicios__list--section {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.servicios__list--title {
  border-top: solid 1px black;
}
.servicios__carousel--media {
  display: none;
}

.pagos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2rem 0 2rem 0;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}
.pagos__section {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-weight: 500;
}
.pagos__title {
  color: #49ab30;
  font-weight: 3rem;
}
.pagos__icon {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.pagos__icon i {
  font-size: 50px;
}

.empresas__title {
  padding-top: 2rem;
  margin: auto;
  color: #49ab30;
  font-weight: 3rem;
}
.empresas__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.empresas__image {
  width: 150px;
  height: 150px;
}

.carrefour {
  padding: 20px;
}

.bimbo {
  padding: 20px;
}

.agentes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.agentes__title {
  font-size: 3rem;
  width: 100%;
  color: #49ab30;
  font-weight: 500;
  padding: 3rem 0 3rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}
.agentes__text {
  width: 52%;
}
.agentes__parrafo {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: black;
  font-weight: 300;
  margin-bottom: 2rem;
}
.agentes__image {
  width: 32%;
  opacity: 95%;
}

.somos {
  padding: 1rem 0 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.somos__image {
  width: 100%;
  opacity: 95%;
}
.somos__image--none {
  display: none;
}
.somos__section {
  width: 50%;
}
.somos__text {
  margin-top: 70px;
}
.somos__text:nth-child(1) {
  margin-left: 20px;
}
.somos__text:nth-child(2) {
  margin-left: 80px;
}
.somos__text:nth-child(3) {
  margin-left: 40px;
}
.somos__title {
  font-size: 1.8rem;
  color: #49ab30;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}
.somos__parrafo {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: black;
  font-weight: 300;
  margin-bottom: 2rem;
}

.ayuda {
  height: 95vh;
}
.ayuda__title {
  text-transform: uppercase;
  color: #49ab30;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  padding: 3rem 0 3rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.ayuda__section {
  padding-bottom: 5rem;
}
.ayuda__subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0.5rem 0 0.5rem 0;
}
.ayuda__parrafo {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 1rem 1rem 1rem;
}

.contactos {
  height: 95vh;
}
.contactos__title {
  font-size: 3rem;
  color: #49ab30;
  font-weight: 500;
  text-align: center;
  padding: 3rem 0 3rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.btn {
  background-image: linear-gradient(to right top, #489434, #489833, #499c33, #49a132, #49a531, #49ae30, #49b62e, #48bf2c, #46cf27, #42df20, #3cef16, #34ff00);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  font-weight: 500;
  border: inherit;
  border-radius: 5px 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  color: white;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  background-image: linear-gradient(to right top, #34ff00, #3cef16, #42df20, #46cf27, #48bf2c, #49b62e, #49ae30, #49a531, #49a132, #499c33, #489833, #489434);
  border-radius: 0 5px;
  transition: all 0.4s ease;
}

.form {
  padding-bottom: 2rem;
}
.form__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.comunicate {
  margin: 6rem 0 6rem 0;
}
.comunicate__title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.comunicate__section-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.comunicate__icon {
  color: black;
}
.comunicate__icon:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.3s;
  color: #49ab30;
}
.comunicate__chat-title {
  font-weight: 300;
}

.link-tel {
  text-decoration: none;
}

.link-chat {
  text-decoration: none;
}

@media (max-width: 768px) {
  .conteiner {
    width: 95%;
  }

  /* -----------------------------------------INDEX---------------------------- */
  .display {
    background-position: right;
    height: 90vh;
  }
  .display__titulo {
    font-size: 1.8rem;
    text-align: center;
  }
  .display__parrafo {
    font-size: 1.3rem;
    text-align: center;
  }
  .display__buttom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ----------------------------------INDEX SECCION PASOS------------------- */
  .pasos {
    width: 100%;
    display: block;
  }
  .pasos__title {
    font-size: 1.3rem;
  }

  /* ---------------------------------INDEX QUIENES SOMOS------------------ */
  .conocenos__title {
    font-size: 2rem;
  }
  .conocenos__parrafo {
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
    width: 100%;
  }
  .conocenos__parrafo--width {
    padding: 0;
  }
  .conocenos__parrafo--width-two {
    padding: 0;
  }

  /* ----------------------------INDEX POR QUE RECICLAR----------------- */
  .beneficios {
    display: block;
  }
  .beneficios__title {
    font-size: 1.2rem;
  }

  .reciclar__title {
    font-size: 2rem;
  }

  /* -------------------------------NOSOTROS----------------------------- */
  .agentes {
    display: block;
    padding: 1rem 0 0 0;
  }
  .agentes__title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem 0 3rem 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .agentes__text {
    padding: 0;
    display: block;
    width: 100%;
  }
  .agentes__parrafo {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .agentes__image {
    width: 100%;
  }

  .somos {
    padding: 0;
  }
  .somos__text {
    width: 100%;
  }
  .somos__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
  }
  .somos__parrafo {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .somos__image {
    display: none;
    padding-bottom: 1rem;
  }
  .somos__image--none {
    display: block;
    width: 100%;
  }
  .somos__section {
    width: 100%;
  }
  .somos__text:nth-child(1) {
    margin-left: 0;
  }
  .somos__text:nth-child(2) {
    margin-left: 0;
  }
  .somos__text:nth-child(3) {
    margin-left: 0;
  }

  /* -----------------------FOOTER------------------------------- */
  footer {
    background-image: linear-gradient(to bottom, #727272, #323034);
  }

  .footer__parrafo {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .footer__icon i {
    font-size: 25px;
  }

  .footer__parrafo-two {
    font-size: 0.8rem;
    font-weight: 300;
  }

  /* -----------------------------------SERVICIOS-------------------------- */
  .pagos {
    display: block;
  }
  .pagos__section {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .pagos__title {
    margin-bottom: 0.5rem;
  }
  .pagos__icon {
    width: 100%;
    justify-content: space-evenly;
  }

  .empresas__flex {
    display: block;
  }
  .empresas__title {
    text-align: center;
  }
  .empresas__image {
    padding: 0.5rem;
  }

  .servicios {
    height: 100%;
  }
  .servicios__title {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .servicios__section {
    display: none;
  }
  .servicios__card {
    border: solid 2px #49ab30;
    border-radius: 10px;
    box-shadow: -5px 3px 9px 0 #49ab30;
  }
  .servicios__card:hover {
    display: none;
  }
  .servicios__carousel--media {
    display: block;
    margin-bottom: 2rem;
  }

  .carrefour {
    padding: 20px;
  }

  .bimbo {
    padding: 20px;
  }

  /* -----------------------------------CONTACTOS----------------------- */
  .display__boton-nav {
    display: none;
  }

  .contactos {
    height: 100%;
  }
  .contactos__title {
    font-size: 1.8rem;
  }

  .comunicate {
    margin: 0;
  }
  .comunicate__icon {
    color: #49ab30;
  }
  .comunicate__title {
    font-size: 1.3rem;
  }
  .comunicatee__chat-title {
    font-size: 1.2rem;
  }

  /* ----------------------------------AYUDA--------------------------- */
  .ayuda {
    height: 100%;
  }
  .ayuda__title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
  }
  .ayuda__section {
    padding-bottom: 0;
  }
  .ayuda__subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0;
  }
  .ayuda__parrafo {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 1rem 1rem 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
