.ayuda {
  &__title {
    text-transform: uppercase;
    color: $color-primario;
    font-size: $big-font;
    font-weight: $weight-font;
    padding: 4rem 0 4rem 0;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  &__section {
    padding-bottom: 5rem;
  }
  &__subtitle{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0;
  }
  
  &__parrafo{
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 1rem 1rem 1rem;
  }

}
