.conteiner__contactos {
  background-image: url(../image/pexels-julian-paolo-dayag-1673973.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem;
}

.section-contactos {
  text-align: center;
  display: flex;
}

.section-disponibilidad h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.icono-contacto {
  display: flex;
}
