.conteiner-nav{
    width: 95%;
    margin: 0 auto;
    max-width: 1600px;
}
.display__boton-nav{
    background-image: $btn-background;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem;
    font-weight: 500;
    border: inherit;
    border-radius: 5px 0;
    cursor: pointer;
    transition: all 0.2s;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
     opacity: 0;
   }
    100% {
     opacity: 1;
   }
}


.display__boton-nav:hover {
    color: white;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem;
    background-image: $btn-background-hover;
}

.button-nav:focus{
    color: $color-primario;
}
.nav-link{
    color: black;
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: underline;
    color: $color-primario;
}
