@media (max-width: 768px) {
  .conteiner {
    width: 95%;
  }
  .conteiner__display {
    padding: 7rem 0 7rem 0;
    margin: auto;
    background-position: right;
  }
  .display .display__titulo {
    font-size: 1.5rem;
    text-align: center;
  }
  .display .display__parrafo {
    font-size: 1.2rem;
    text-align: center;
  }
  .display__buttom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .servicios-pasos {
    width: 100%;
    display: block;
  }
  .pasos h3 {
    font-size: 1.5rem;
  }
  .conocenos__parrafo {
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
    width: 100%;
  }
  .conocenos__parrafo--width {
    padding: 0;
  }
  .conocenos__parrafo--width-two {
    padding: 0;
  }
  .section__beneficios {
    display: block;
  }
  .section__beneficios h3 {
    font-size: 1.3rem;
  }
  .beneficios__title h2 {
    font-size: 1.8rem;
  }

  .section__beneficio-two {
    display: block;
  }
  .section__beneficio-two h3 {
    font-size: 1.5rem;
  }

  .agentes-cambio {
    display: block;
    padding: 1rem 0 0 0;
  }
  .somos-agentes {
    padding: 0;
    display: block;
    width: 100%;
  }
  .agentes-cambio h2 {
    font-size: 1.8rem;
    font-weight: $weight-font;
    text-align: center;
  }
  .agentes-cambio .text-agentes p {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .somos-agentes .conteiner-somos .text-somos h3 {
    font-size: 1.8rem;
    font-weight: $weight-font;
    margin-bottom: 1rem;
    text-align: center;
  }
  .somos-agentes .conteiner-somos .text-somos p {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .agentes-cambio img {
    width: 100%;
  }
  .somos-agentes img {
    display: none;
    padding-bottom: 1rem;
  }

  .somos-agentes .imagen-flores {
    display: block;
    width: 100%;
  }

  .agentes-cambio .text-agentes {
    width: 100%;
  }
  .somos-agentes .conteiner-somos {
    width: 100%;
  }
  .somos-agentes .conteiner-somos .text-somos:nth-child(1) {
    margin-left: 0;
  }

  .somos-agentes .conteiner-somos .text-somos:nth-child(2) {
    margin-left: 0;
  }

  .somos-agentes .conteiner-somos .text-somos:nth-child(3) {
    margin-left: 0;
  }

  footer {
    background-image: linear-gradient(
      to bottom,
      rgb(114, 114, 114),
      rgba(50, 48, 52)
    );
  }
  .footer__parrafo {
    font-size: 1.2rem;
    font-weight: 100;
  }

  .footer__icon i {
    font-size: 25px;
  }
  .footer__parrafo-two {
    font-size: 0.8rem;
    font-weight: 100;
  }

  .conteiner__pagos {
    display: block;
  }
  .section__pagos {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .section__pagos h3 {
    margin-bottom: 0.5rem;
  }
  .pagos__icon {
    width: 100%;
    justify-content: space-evenly;
  }
  .conteiner__suscripcion {
    display: block;
  }
  .suscripcion {
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
  .title__servicios h2 {
    font-size: 2rem;
    font-weight: $weight-font;
  }
  .conteiner__contactos {
    background-image: url(../image/pexels-julian-paolo-dayag-1673973.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
  }
  .display__boton-nav {
    display: none;
  }

  .boton__somos {
    padding-top: 2rem;
    padding-bottom: 2.3rem;
  }
  .somos_title h2 {
    font-size: 1.8rem;
  }
  .servicios-pasos img {
    width: 150px;
    height: 150px;
  }
  .section__beneficios .image__beneficios h3 {
    font-size: 1.5rem;
  }
  .section__beneficio-two .image__beneficios h3 {
    font-size: 1.5rem;
  }
  .display__ayuda h2 {
    font-size: 1.8rem;
    font-weight: $weight-font;
    padding: 1rem 0 1rem 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .display__section {
    padding-bottom: 3rem;
  }
  .display__section h4 {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0;
  }

  .display__section p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 1rem 1rem 1rem;
  }
}
