@media (max-width: 768px) {
  .conteiner {
    width: 95%;
  }
  /* -----------------------------------------INDEX---------------------------- */
  .display {
    background-position: right;
    height: 90vh;
    &__titulo {
      display: none;
    }
    &__titulo--media {
      display: block;
      font-size: $media-font;
      text-align: center;
      font-weight: $weight-font;
      margin-bottom: 0.5rem;
      margin: 0 0rem 1rem 0rem;
      text-transform: uppercase;
      animation-duration: 1s;
      animation-name: aparecer;
      animation-iteration-count: initial;
    }
    &__parrafo {
      font-size: 1.3rem;
      text-align: center;
    }
    &__buttom {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  /* ----------------------------------INDEX SECCION PASOS------------------- */
  .pasos {
    width: 100%;
    display: block;
    &__title {
      font-size: 1.3rem;
    }
  }
  /* ---------------------------------INDEX QUIENES SOMOS------------------ */
  .conocenos {
    &__title {
      font-size: 2rem;
    }
    &__parrafo {
      font-size: 1.3rem;
      font-weight: 300;
      display: block;
      width: 100%;
    }
    &__parrafo--width {
      padding: 0;
    }
    &__parrafo--width-two {
      padding: 0;
    }
  }
  /* ----------------------------INDEX POR QUE RECICLAR----------------- */
  .beneficios {
    display: block;
    &__title {
      font-size: 1.2rem;
    }
  }
  .reciclar__title {
    font-size: 2rem;
  }
  /* -------------------------------NOSOTROS----------------------------- */
  .agentes {
    display: block;
    padding: 1rem 0 0 0;
    &__title {
      font-size: $media-font;
      font-weight: $weight-font;
      text-align: center;
      padding: 3rem 0 3rem 0;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &__text {
      padding: 0;
      display: block;
      width: 100%;
    }
    &__parrafo {
      font-size: 1.3rem;
      font-weight: 300;
    }
    &__image {
      width: 100%;
    }
  }
  .somos {
    padding: 0;
    &__text {
      width: 100%;
    }
    &__title {
      font-size: 1.8rem;
      font-weight: $weight-font;
      margin-bottom: 1rem;
      text-align: center;
    }
    &__parrafo {
      font-size: 1.3rem;
      font-weight: 300;
    }
    &__image {
      display: none;
      padding-bottom: 1rem;
    }

    &__image--none {
      display: block;
      width: 100%;
    }

    &__section {
      width: 100%;
    }
    &__text:nth-child(1) {
      margin-left: 0;
    }

    &__text:nth-child(2) {
      margin-left: 0;
    }

    &__text:nth-child(3) {
      margin-left: 0;
    }
  }
  /* -----------------------FOOTER------------------------------- */

  footer {
    background-image: linear-gradient(
      to bottom,
      rgb(114, 114, 114),
      rgba(50, 48, 52)
    );
  }
  .footer__parrafo {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .footer__icon i {
    font-size: 25px;
  }
  .footer__parrafo-two {
    font-size: 0.8rem;
    font-weight: 300;
  }
  /* -----------------------------------SERVICIOS-------------------------- */
  .servicios__title {
    font-size: $media-font;
    font-weight: $weight-font;
    padding: 20px;
  }
  .servicios {
    display: none;
  }
  .carousel {
    display: block;
    margin-bottom: 20px;
    &__media{
      text-align: center;
    }
    h3 {
      margin: 10px;
    }
    &-btn {
      background-image: $btn-background;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem;
    font-weight: $weight-font;
    border: inherit;
    cursor: pointer;
    transition: all 0.2s ease;
    }
    &-btn:hover{
      color: white;
      background-image: $btn-background-hover;
      border-radius: 0 5px;
      transition: all 0.2s ease;
    }
    .link-media {
      text-decoration: none;
      color: white;
    }
  }
  .pagos {
    display: block;
    &__section {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
    &__title {
      margin-bottom: 0.5rem;
    }
    &__icon {
      width: 100%;
      justify-content: space-evenly;
    }
  }
  .empresas{
    &__title{
      text-align: center;
    }
  }
  .carrefour {
    padding: 20px;
  }
  .bimbo{
    padding: 20px;
  }

  /* -----------------------------------CONTACTOS----------------------- */

  .display__boton-nav {
    display: none;
  }
  .contactos {
    height: 100%;
    &__title {
      font-size: $media-font;
    }
  }
  .comunicate {
    margin: 0;
    &__icon {
      color: $color-primario;
    }
    &__title {
      font-size: 1.3rem;
    }
    &e__chat-title {
      font-size: 1.2rem;
    }
  }
  /* ----------------------------------AYUDA--------------------------- */
  .ayuda {
    height: 100%;
    &__title {
      font-size: $media-font;
      font-weight: $weight-font;
      text-align: center;
    }
    &__section {
      padding-bottom: 0;
    }
    &__subtitle {
      font-size: 1.3rem;
      font-weight: 300;
      margin: 0.5rem 0 0.5rem 0;
    }

    &__parrafo {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0 1rem 1rem 1rem;
    }
  }
}

