.agentes-cambio {
    padding: 60px 45px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.agentes-cambio h2 {
    font-size: 2rem;
    width: 100%;
    color: rgb(53, 158, 106);
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.agentes-cambio .text-agentes {
    width: 52%;
}

.agentes-cambio .text-agentes p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin-bottom: 2rem;
}

.agentes-cambio img {
    width: 32%;
    opacity: 95%;
}

.somos-agentes {
    padding: 0px 45px 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.somos-agentes img {
    width: 100%;
    opacity: 95%;
}

.somos-agentes .imagen-flores {
    display: none;
}

.somos-agentes .conteiner-somos {
    width: 50%;
}

.somos-agentes .conteiner-somos .text-somos {
    margin-top: 70px;
}

.somos-agentes .conteiner-somos .text-somos h3 {
    font-size: 1.5rem;
    color: rgb(53, 158, 106);;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.somos-agentes .conteiner-somos .text-somos p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin-bottom:  2rem;
}

.somos-agentes .conteiner-somos .text-somos:nth-child(1) {
    margin-left: 20px;
}

.somos-agentes .conteiner-somos .text-somos:nth-child(2) {
    margin-left: 80px;
}

.somos-agentes .conteiner-somos .text-somos:nth-child(3) {
    margin-left: 40px;
}