.agentes {
  padding: 60px 45px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 2.2rem;
    width: 100%;
    color: $color-primario;
    font-weight: $weight-font;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  &__text {
    width: 52%;
  }
  &__parrafo {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-bottom: 2rem;
  }
  &__image {
    width: 32%;
    opacity: 95%;
  }
}

.somos {
  padding: 0px 45px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    width: 100%;
    opacity: 95%;
  }
  &__image--none {
    display: none;
  }
  &__section {
    width: 50%;
  }
  &__text {
    margin-top: 70px;
  }
  &__text:nth-child(1) {
    margin-left: 20px;
  }
  &__text:nth-child(2) {
    margin-left: 80px;
  }
  &__text:nth-child(3) {
    margin-left: 40px;
  }
  &__title {
    font-size: 1.8rem;
    color: $color-primario;
    text-transform: uppercase;
    font-weight: $weight-font;
    margin-bottom: 1rem;
  }
  &__parrafo {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-bottom: 2rem;
  }
}
