$color-primario: #49ab30;
$big-font: 3.5rem;
$weight-font: 500;
$btn-background: linear-gradient(
  to right top,
  #489434,
  #489833,
  #499c33,
  #49a132,
  #49a531,
  #49ae30,
  #49b62e,
  #48bf2c,
  #46cf27,
  #42df20,
  #3cef16,
  #34ff00
);
$btn-background-hover: linear-gradient(
  to right top,
  #34ff00,
  #3cef16,
  #42df20,
  #46cf27,
  #48bf2c,
  #49b62e,
  #49ae30,
  #49a531,
  #49a132,
  #499c33,
  #489833,
  #489434
);
